# Nastavení pro vývoj 
DEBUG=True

# Tajný klíč pro Django (example)
SECRET_KEY=django-insecure-c#p!p2!@5_6!m^8%7*q(z$v4r#3w2s1x+y&z*u9l0m

# Nastavení e-mailu 
EMAIL_HOST_USER=tvuj-email@gmail.com
EMAIL_HOST_PASSWORD=tvoje-heslo-pro-aplikace