<tr class="hover group">
    <td x-show="showLabels">
        <input type="text" x-model="sheet.label" placeholder="..." class="input input-bordered input-sm w-full">
    </td>

    <td>
        <input type="number" x-model.number="sheet.length" step="0.1" class="input input-bordered input-sm w-full"
            @input="if (index === stockSheets.length - 1) addStock()"
            @change="sheet.length = Math.abs(sheet.length || 0)">
    </td>

    <td>
        <input type="number" x-model.number="sheet.width" step="0.1" class="input input-bordered input-sm w-full"
            @input="if (index === stockSheets.length - 1) addStock()"
            @change="sheet.width = Math.abs(sheet.width || 0)">
    </td>

    <td>
        <input type="number" x-model.number="sheet.quantity" class="input input-bordered input-sm w-20"
            @input="if (index === stockSheets.length - 1) addStock()"
            @change="if(!sheet.quantity || sheet.quantity < 1) sheet.quantity = 1">
    </td>

    <td x-show="showMaterials">
        <select :value="sheet.material" class="select select-bordered select-sm w-full" @input="if($el.value === 'ADD_NEW') { 
                    material_modal.showModal(); 
                    $el.value = sheet.material || ''; 
                } else {
                    sheet.material = $el.value;
                }">
            <option value="">---</option>
            <template x-for="mat in Materials" :key="mat.id">
                <option :value="mat.id" x-text="mat.name" :selected="sheet.material == mat.id"></option>
            </template>
            <option value="ADD_NEW" class="font-bold text-primary italic">Add New Material</option>
        </select>
    </td>

    <td x-show="showGrainDirection">
        <select x-model="sheet.grain_direction" class="select select-bordered select-sm w-full">
            <option value="none">No Grain</option>
            <option value="horizontal">Horizontal ↔</option>
            <option value="vertical">Vertical ↕</option>
        </select>
    </td>

    <td class="text-right">
        <button type="button" class="btn btn-ghost btn-xs text-error font-bold"
            @click="
                    const isDirty = sheet.label || sheet.length || sheet.width;
                    if(!isDirty || confirm('Delete this stock sheet?')) {
                        stockSheets.splice(index, 1);
                        if (stockSheets.length === 0) addStock();
                    }
                ">
            DELETE ROW
        </button>
    </td>
</tr>